@model ProjeCore.Models.Personel
@{
    ViewData["Title"] = "YeniPersonel";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    <b>@Html.LabelFor(x => x.Ad)</b>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <b>@Html.LabelFor(x => x.Soyad)</b>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    <b>@Html.LabelFor(x => x.Sehir)</b>
    @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
    <br />
    <b>Birim</b>
    @Html.DropDownListFor(x=>x.Birim.BirimID,(List<SelectListItem>)ViewBag.dgr,new {@class="form-control"})
    <br />
    <button class="btn btn-info">Personel Ekle</button>
</form>


